/*=================================================
  Global
==================================================*/

/*=======================================
  Box Padding
========================================*/

*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

/*=======================================
  BODY
========================================*/


body{
  @include font-size(16);
  font-family: $sans;
  font-weight: 300;
  color:$gray-6;
}

video {
  max-width: 100%;
  height: auto;
}


a {
  text-decoration:none;
  @include link-states($blue-2, $blue-1);
  @include transition(all, 0.5s, ease);
  
}

p,ul,ol{
  line-height: 30px;
  margin: 0 0 25px 0;
  @media (max-width: 868px) {
  }
}

ul,ol{
  padding:0;
}


ul{
  list-style:none;
}


strong{
  font-weight: 600;
}


h1, h2, h3, h4, h5, h6{
  margin-top:0;
  margin-bottom:25px;
  text-transform: uppercase;
  padding:0;
  font-family: $sans;
  //text-transform: uppercase;
}

/*=============================
  HEADINGS
==============================*/

h1{
  @include font-size(54);
}
h2{
  @include font-size(44);
}
h3{
  @include font-size(34);
}
h4{
  @include font-size(30);
}
h5{
  @include font-size(24);
}
h6{
  @include font-size(20);
}



/*=============================
  INPUTS
==============================*/

input, textarea{
  border: none;
}

/*=============================
  QUOTES
==============================*/


blockquote{
  @include font-size(20);
  font-style: italic;
  margin: 0 0 3% 0;
  padding:2% 4%;
  display:block;
  background-color:$gray-1;
  border-left: 7px $blue-2 solid;
  p{
    margin:0;
  }
}

/*=============================
  IMG
==============================*/

img{
  min-width: 1%;
  max-width:100%;
}

figcaption,.wp-caption{
  font-style: italic;
  padding-bottom: 2%;
  width: 28%;
  margin: 0 auto;
  padding: 1%;
  @include font-size(12);
  img{
    padding:0;
    width:100%;
    height:auto;
  }
}