/* Grid */
.row {
  @include clear-fix;
  //margin: 20px -20px 0 -20px;
  margin-left:-20px;
  margin-right:-20px;

  &.nopadding-cols {
    margin-left: 0;
    margin-right: 0;
  }

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.col {
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}
.nopadding-cols .col {
  padding: 0;
}

// Columns with margin calculation
@function column ($num, $columns: 12) {
  $oneColumn: 100% / $columns;
  @return $oneColumn * $num;
}

// Columns
.col.span1 {
  width: column(1);
}
.col.span2 {
  width: column(2);
}
.col.span3 {
  width: column(3);
}
.col.span4 {
  width: column(4);
}
.col.span5 {
  width: column(5);
}
.col.span6 {
  width: column(6);
}
.col.span7 {
  width: column(7);
}
.col.span8 {
  width: column(8);
}
.col.span9 {
  width: column(9);
}
.col.span10 {
  width: column(10);
}
.col.span11 {
  width: column(11);
}
.col.span12 {
  width: column(12);
}

.col.push1 {
  margin-right: column(1);
}
.col.pull1 {
  margin-left: column(1);
}

@media screen and (max-width:767px) {
  .row {
    margin: 0;
  }
  .col {
    float: none;
    margin: 40px 0 0 0;
    padding: 0;
  }
  .col.span1, .col.span2, .col.span3, .col.span4, .col.span5, .col.span6,
  .col.span7, .col.span8, .col.span9, .col.span10, .col.span11, .col.span12 {
    width: 100%;
  }
  .col:first-child {
    margin-top: 0;
  }
}
