/*=================================================
  BODY/PAGE WRAPS
==================================================*/

.wrap,.content,.container, .banner{
  @include clear-fix;
}

.wrap,.content{
  width:100%;
}

.container{
  max-width:1180px;
  width:93%;
  margin: 0 auto;
}



/*=================================================
  HEADER
==================================================*/

.main-header{
  width:100%;
  //padding-top:2%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20292d+0,171e21+47,000000+100 */
    background: #20292d; /* Old browsers */
    background: -moz-linear-gradient(top,  #20292d 0%, #171e21 47%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #20292d 0%,#171e21 47%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #20292d 0%,#171e21 47%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20292d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.header-container{
  padding:2% 0;
}

.banner{
  position:relative;
  @include font_size(20);
  p{
    line-height:32px;
  }
}

.banner-container{
  position:relative;
  //min-height:870px;
  webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.banner-content{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right:35%;
  color:$white;
  h1{
    @include font-size(70);
    line-height:64px;
  }
}


/*=======================================
  LOGO
========================================*/

.logo{
  float:left;
  width:20%;
  img{
    max-height:85px;
  }
  span{
    @include font-size(3.0);
    color: $white;
  }
  @media (max-width: 868px) {


  }

  @media (max-width: 568px) {

  }
}

/*=================================================
  NAV
==================================================*/

.nav-bar{
  position: relative;
  width:100%;
  
}

.nav-wrap{
  float:right;
  line-height:85px;
  width:80%;
  text-align: right;
  @include clear-fix;
}

.main-nav{
  @include inline-block-fix;
  vertical-align: middle;
  ul{
    margin:0 10px 0 0;
    font-size: 14px;
    text-align: right;
    text-transform:uppercase;
  }
  li{
    @include inline-block-fix;
    margin:0;
  
  }
  a{
    display: block;
    padding: 5px 10px;
    color:$white;
    &:hover{
      background-color:$white;
      color:$blue-2;
    }
  }
}

.navigation{
  @include clear-fix;
  @media (max-width:868px){
    display:block;
  }
}

.utility{
  @include inline-block-fix;
  vertical-align: middle;
  img{
    @include inline-block-fix;
    margin-right:15px;
    margin-left:15px;
    width:15px;
    height: auto;

    &:last-child{
      margin-right: 0;
      margin-left:0;
    }
  }
}

/*=======================================
  MENU BAR
========================================*/

.menu-bar{
  display:none;
  position:relative;
  left:0;
  @include transition(all, 0.5s, ease-in-out);
  @media (max-width:868px){
    display:block;
  }
}



/*=======================================
  DEFAULT NAV
========================================*/

.main-nav{

}

/*=======================================
  DROP DOWNS
========================================*/



/*=================================================
  SECTIONS
==================================================*/

.typography, .modules, .column-grid, .flex-grid, .contact{
  @extend .wrap;
  padding: 3% 0;
}

/*=================================================
  Home
==================================================*/

/*=======================================
  Angles
========================================*/

.angle{
  display:block;
}

.angle-white{
  margin: 0 auto -1px auto;
  width:100%;
}

.angle-blue{
  position:absolute;
  right:0;
  top:208px;
  z-index:1;
}

.angle-gray{
  display:block;
  position:absolute;
  top:28%;
  left:0;
  z-index:1;
}

/*=======================================
  Banner
========================================*/

.banner-content-home{
  margin-top:120px;
  margin-bottom:20px;
  padding-right:35%;
  color:$white;
  h1{
    @include font-size(74);
    line-height:68px;
  }
}

.car-img{
  display: block;
  position: absolute;
  bottom: -120px;
  left: 50px;
  max-width:1180px;
  width:100%;
  height:auto;
  z-index: 999;
}

/*=======================================
  Page Headings
========================================*/

.main-heading{
  margin:0 auto 80px auto;
  max-width:400px;
  @include font-size(64);
}
.sub-head{
  display:block;
  @include font-size(30);
  font-weight:100;
  padding:0;
  line-height:0;
}

/*=======================================
  Featured Products
========================================*/

.featured-products{
  margin-top:190px;
  margin-bottom:120px;
  position:relative;
  z-index:999;
}

.products{
  margin-bottom:80px;
}

.featured-product{
  text-align:center;
  h4{
    @include font-size(24);
  }
  .featured{
    position:relative;
    max-width:380px;
    width:100%;
    height:auto;
    margin-bottom:15px;
    text-transform:uppercase;
    overflow:hidden;
    img{
      width:100%;
    }
  }
  .on-sale{
    position:absolute;
    top:0;
    right:0;
    padding:15px 20px;
    font-size:20px;
    font-weight:400;
    color:$white;
    background-color:$yellow-1;
  }
}

.pricing{
  font-weight:600;
  font-size:24px;
}

.ratings{
  line-height:0;
  padding-top:25px;
}

.star-rating{
  @include inline-block-fix;
  line-height:0px;
  padding:0;
  margin:0 6px;
  img{
    width:25px;
  }

}

/*=======================================
  Popular Collections
========================================*/

.popular-collections{
  position:relative;
  z-index:999;
}

.collection{
  color:$white;
  h3{
    @include font-size(54);
    border-bottom: 1px solid $white;
    line-height:54px;
  }
  .desc, .desc-alt, .featured, .featured-alt{
    min-height:532px;
  }
  .desc,.desc-alt{
    position:relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20292d+0,171e21+47,000000+100 */
    background: #20292d; /* Old browsers */
    background: -moz-linear-gradient(top,  #20292d 0%, #171e21 47%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #20292d 0%,#171e21 47%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #20292d 0%,#171e21 47%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20292d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }
  .desc{
    margin-left:50%;
  }
  .desc-alt{
    margin-right:50%;
  }
  .desc-content{
    max-width:400px;
    position:absolute;
    top: 50%;
    left:17%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .featured, .featured-alt{
    position:absolute;
    img{
      width:100%;
    }
  }
  .featured{
    left:0;
  }
  .featured-alt{
    right:0;
  }
}

.guides-tutorials, .color-match-system{
  position:relative;
  color:$white;
  .main-heading{
    margin:0 0 25px 0;
    max-width:680px;
    line-height:58px;
  }
  .sub-head{
    color:$white;
    line-height: 20px;
  }
  .desc{
    max-width:680px;
    position:absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .featured{
    position:absolute;

  }

}

.guides-tutorials{
  min-height:540px;
  background: $blue-1 no-repeat top left url("../img/main/guides-tutorials-bg.svg");
  .desc{
    left:50px;
  }
  .featured{
    right:0;
    top:5%;

  }

}

.color-match-system{
  position:relative;
  min-height:540px;
  color:$white;
  background: #20292d; /* Old browsers */
    background: -moz-linear-gradient(top,  #20292d 0%, #171e21 47%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #20292d 0%,#171e21 47%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #20292d 0%,#171e21 47%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20292d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  .desc{
    right:50px;
  }
  .featured{
    left:0;
    top:0;
    img{
      width:88%;
    }
  }

}

.full-width-cta{
  padding: 105px 0;
  background: $blue-1 no-repeat top left url("../img/main/guides-tutorials-bg.svg");
  text-align:center;
  color:$white;
  h3{
    @include font-size(64);
    line-height:58px;
  }
  .desc{
    margin:0 auto;
    max-width:680px;
  }
}


/*=================================================
  Main Footer
==================================================*/


.main-footer{
  width:100%;
  padding-top:120px;
  color:$white;
  background-color: $blue-2;

}

.footer-wrap{
  border-bottom:1px solid $white;
  .nav-wrap{
    line-height:130px;
  }
}

.footer-widgets{
  margin:40px 0 120px 0;
}


.text-widget{
  float:left;
  @include font-size(20);
  line-height:32px;

}

.share-widget{
  float:right;
  img{
    margin-right:33px;
    &:last-child{
      margin-right:0;
    }
  }
}

.footer-info{
  padding:20px 0;
  @include font-size(14);
  color:$white;
  background-color:$blue-3;
}

.footer-info-container{
  display:flex;
  justify-content: space-between;
}

.copyright{
  flex-grow:2;
}

.terms-links{
  flex-grow:1;
  margin:0;
  text-align:center;
  line-height:20px;
  li{
    @include inline-block-fix;
    margin-right:20px;
    &:last-child{
      margin-right:0;
    }
  }
  text-transform:uppercase;
  a{
    color: $white;
    &:hover{
      color: $yellow-1;
    }
  }
}

.credits{
  flex-grow:2;
  text-align:right;
  a{
    color:$yellow-1;
    &:hover{
      color:$yellow-2;
    }
  }
}
