/*=================================================
  Mixins
==================================================*/

//Number in color denotes shade...

$white: #FFFFFF;
$gray-1: #f2f2f2;
$gray-2: #e1e1e1;
$gray-3: #959595;
$gray-4: #898989;
$gray-5: #464646;
$gray-6: #1F1F1F;
$black: #000000;
$blue-1: #0064FF;
$blue-2: #004CC0;
$blue-3: #0041A5;
$yellow-1:#FFB300;
$yellow-2:#FFDD8D;
$sans: 'Montserrat', 'arial', 'sans-serif';
$serif: Georgia, arial, 'sans-serif';


/*=================================================
	Mixins
==================================================*/

// column mixins
@mixin grid($target, $context){
  width: (($target/$context)*100%);
}

// margin mixins
@mixin mleft($target, $context){
  margin-left: (($target/$context)*100%);
}

@mixin mright($target, $context){
  margin-right: (($target/$context)*100%);
}

@mixin mq($point) {
  @if $point == screen {
    @media (max-width: 1115px) { @content; }
  }
  @if $point == big_tablet {
    @media (max-width: 900px) { @content; }
  }
  @if $point == tablet {
    @media (max-width: 765px) { @content; }
  }
  @else if $point == phone_l {
    @media (max-width: 480px) { @content; }
  }
  @else if $point == phone_p {
    @media (max-width: 320px)  { @content; }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin bg_cover($filter){

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;

   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$filter', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$filter', sizingMethod='scale')";
}

@mixin font-size($sizeValue, $baseSize:16) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / $baseSize) + rem;
}



@mixin clear-fix{
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
      clear: both;
  }
}
@mixin inline-block-fix {
  display: inline-block; /* For normal, healthy browsers */
  /*white-space: nowrap;*/

  *display: inline;
    zoom: 1; 
    * html & { /* for IE6 */
      display: inline;
    }
   
    *+html & { /* for IE7 */
      display: inline;
    }
}

@mixin link-states($color, $color_states) {
  color: $color;
  &:hover, &:active, &:focus{
    color: $color_states;

  }

}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transform($property){
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transition: $property;
}


@mixin box-shadow($hor,$vert,$blur,$spread,$color, $inset: false){
  @if $inset{
    -webkit-box-shadow:$hor $vert $blur $spread $color $inset;
    -moz-box-shadow:$hor $vert $blur $spread $color $inset;
    box-shadow:$hor $vert $blur $spread $color $inset;
  }
  @else{
    -webkit-box-shadow:$hor $vert $blur $spread $color;
    -moz-box-shadow:$hor $vert $blur $spread $color;
    box-shadow:$hor $vert $blur $spread $color 
  }
}

@mixin gradient ($bg1, $bg2, $dir1, $dir2, $type) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28b7b4+0,558dae+100 */
background: $bg1; /* Old browsers */
background: -moz-linear-gradient($dir1,  $bg1 0%, $bg2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient($dir1,  $bg1 0%,$bg2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to $dir2,  $bg1 0%,$bg2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg1', endColorstr='$bg2',GradientType=$type ); /* IE6-9 */

}
