/*=================================================
  GLOBAL PAGE STYLES FOR MOBILE
==================================================*/

.body-wrap {
  width: 100%;
  position: relative;
  @media (max-width: 868px) {
    overflow: hidden;
  }
}

.page-wrap{
  position:relative;
  width:100%;
  left:0;
  @include transition(all, 0.5s, ease-in-out);
  /*background*/
}

/*===========================
  MOBILE NAV
============================*/

.mobile-phone-number{
  display:block;
}

.mobile-nav{
  width: 75%;
  height:100%;
  position: absolute;
  
  right:-75%;
  top:0;
  font-weight:100;
  @include transition(all, 0.5s, ease);
  transition: all 0.5s ease;
  ul{
    padding-left:0;
    margin:0;
  }
  li{
    border-bottom: 1px solid $gray-6;
    @include clear-fix();
    ul{/*Second Level*/
      padding-left:0;
      width:100%;
      display:none;
      li{
        @include clear-fix();
        clear:both;
        border-bottom:0;
        border-top: 1px solid $gray-6;
      }
      a{
        padding-left:10%;
        display:block;
        @include font-size(1.4);
      }
    }
  }
  a{
    color:$white;
    display:block;
    width:92%;
    float:left;
    padding: 2%;
  }

  @media (max-width: 868px) {

    margin-top:17%;

  }

}

/*First Level WP*/

.mobile-nav li.menu-item span.sub-btn{
    display:none;
  }


.mobile-nav li.menu-item-has-children{
    span.sub-btn{

      display:block;

    }
}

.mobile-nav .sub-menu li.menu-item span.sub-btn{
  display:none;
}

/*second leve*/

.mobile-nav .sub-menu li.menu-item-has-children{
    span.sub-btn{

      display:block;

    }
}

/*third level*/

.mobile-nav .sub-menu li.menu-item .sub-menu span.sub-btn{
  display:none;
}