/*=================================================
	GENERAL MODULES
==================================================*/


/*=======================================
  BUTTONS
========================================*/

.btn{
  color:$white;
  padding:20px 30px;
  margin-top:15px;
  font-weight:400;
  text-transform: uppercase;
  border-radius:2px;
  @include font-size(20);
  @include inline-block-fix();
  @include transition(all, 0.5s, ease);
  &:hover{
    @include transition(all, 0.5s, ease);
  }
  
}



/*=============================
  COLOR SKINS
==============================*/


.ghost-btn{
  border: 2px solid $white;
  &:hover{
    color:$blue-2;
    background-color:$white;
  }
}

.blue-btn{
  background-color: $blue-1;
  @include box-shadow(0,2px,7px,0,rgba(0,0,0,.38),false);
  &:hover{
    color:white;
    background-color: $blue-2;
    box-shadow:none;
    -webkit-box-shadow:none;
  }
}



/*=============================
  TABS
==============================*/

.tabs-nav{
  ul{
    @include clear-fix;
    padding:0;
    margin: 0;
  }
  li{
    @include inline-block-fix;
    margin-bottom:0;
  }
  a{
    display: block;
    padding:10px;
    color:$white;
    background-color: $blue-2;
  }
}

.tabs-container{
  @include font-size(1.2);
}

.tab{
  background-color:$white;
  padding:4%;
}

/*=============================
  Modal
==============================*/

.modal{
  width:60%;
  position: fixed;
  top:20%;
  left:20%;
  @include box-shadow(0, 0, 5px, 5px, rgba(10,10,10,.1));
  z-index:999;
  background-color: $white;
  @media(max-width:568px){
    width:100%;
    left:0;
  }
}

.modal-close{
  width:100%;
  min-height: 50px;
  color:$white;
  @include gradient($blue-1, $blue-2, left, right, 0);
  text-align: right;
  @include font-size(2.0);
}

.modal-content{
  padding:3%;
}

.modal-bg{
  background-color: rgba(10,10,10,.5);
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.modal,.modal-bg{
  display: none;
}

/*=============================
 Cta
==============================*/

.general-cta{
  @include clear-fix;
  line-height:32px;
  padding:50px;
  color:$white;
  background-color:$blue-1;
  @include box-shadow(0,2px,7px,0,rgba(0,0,0,.38),false);
  .btn,p{
    margin:0;
  }
  .desc{
    float:left;
    width:80%;
  }
  .btn{
    float:right;
  }

}

/*=============================
 Divider
==============================*/
.divider{
  color:$white;
}


