/*=======================================
  ALIGNMENT
========================================*/


.align-left,.alignleft{
  float: right;
  margin-right:2.5%;
  margin-bottom:2.5%;
  @media (max-width: 680px) {
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    float:none;
    display:block;
  }
}

.align-right,.alignright{
  float: right;
  margin-left:2.5%;
  margin-bottom:2.5%;
  @media (max-width: 680px) {
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    float:none;
    display:block;
  }
}

.hidden{
  display:hidden;
}

.none{
  display:none;
}

.block{
  display:block;
}

.active{
  background-color:#d4cfc3;
}

/*=======================================
  POSITIONING
========================================*/

.fixed{
  position:fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.top{
  top:0;
}



/*=======================================
  TEXT ALIGNMENT
========================================*/

.inline-left{
  text-align:left;
}

.inline-right{
  text-align:right;
}

.inline-center{
  text-align:center;
}


/*=======================================
  BLACK
========================================*/

.black{
  background-color: $black;
}

/*=======================================
  Nav
========================================*/

.fixed-nav{
  z-index:9999999;
}

/*=======================================
  Pricing
========================================*/

.discount{
  text-decoration: line-through;
  color:$yellow-2;
}
