/*=================================================
  SKINS/THEMES
==================================================*/

/*=======================================
  Buttons
========================================*/


/*=======================================
  ACCORDIAN BUTTON
========================================*/

.acc-btn{
  width:100%;
  margin-bottom: 2%;
  position:relative;
  &:after{
    font-family: FontAwesome;
    @include font-size(1.4);
    line-height: 1.5em;
    position:absolute;
    right:2%;
    content:"\f067";

  }
}



/*=======================================
  BORDER RADIUS
========================================*/

.pill{
  @include border-radius(2px);
}

/*=======================================
  FRAMEWORK LABELS
========================================*/

.framework-label{
  margin-bottom:3%;
  @include font-size(1.2);
  text-transform: uppercase;
  color:$gray-3;
}


